noderedmodule/examples/full-example.json
[{"id":"73ea7748.a7a108","type":"function","z":"3b552568.2b72fa","name":"output msg","func":"var newMsg = { payload:\n    \"{ \\\"random\\\":\" + Math.random() + \",\" +\n    \"\\\"timestamp\\\":\" + msg.payload + \"}\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["211f3eb6.521002"]]},{"id":"a1e33e94.716f6","type":"moduletwin","z":"3b552568.2b72fa","client":"500eeb00.cd6a84","x":450,"y":100,"wires":[["90ea4bca.476e18"]]},{"id":"90ea4bca.476e18","type":"debug","z":"3b552568.2b72fa","name":"twin msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":140,"wires":[]},{"id":"21abd27d.96853e","type":"inject","z":"3b552568.2b72fa","name":"running","topic":"","payload":"running","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":110,"y":60,"wires":[["6f44aaee.8da474"]]},{"id":"6f44aaee.8da474","type":"function","z":"3b552568.2b72fa","name":"reported msg","func":"var reported = { payload:\n\"{\\\"moduleStatus\\\": \\\"\" + msg.payload + \"\\\"}\" }\nreturn reported;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["a1e33e94.716f6"]]},{"id":"18fa0b91.face04","type":"inject","z":"3b552568.2b72fa","name":"stopped","topic":"","payload":"stopped","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":110,"y":200,"wires":[["6f44aaee.8da474"]]},{"id":"211f3eb6.521002","type":"moduleoutput","z":"3b552568.2b72fa","client":"500eeb00.cd6a84","output":"output1","x":550,"y":260,"wires":[]},{"id":"f8bf78ca.927318","type":"inject","z":"3b552568.2b72fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":340,"wires":[["73ea7748.a7a108"]]},{"id":"78dbf6ce.83aa68","type":"modulemethod","z":"3b552568.2b72fa","client":"500eeb00.cd6a84","method":"setValue","response":"{}","x":230,"y":500,"wires":[["ae3d076c.4d6f58","8451388e.6e5368"]]},{"id":"ced5a89.559ed58","type":"moduleinput","z":"3b552568.2b72fa","client":"500eeb00.cd6a84","input":"input1","x":210,"y":420,"wires":[["f82bc9b0.677228"]]},{"id":"f82bc9b0.677228","type":"debug","z":"3b552568.2b72fa","name":"input msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":440,"y":400,"wires":[]},{"id":"ae3d076c.4d6f58","type":"debug","z":"3b552568.2b72fa","name":"method msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":480,"wires":[]},{"id":"8451388e.6e5368","type":"function","z":"3b552568.2b72fa","name":"response msg","func":"var response = { payload:\n\"{\\\"methodpayload\\\": \\\"\" + msg.payload + \"\\\"}\" }\nresponse.status = 100\nreturn response;","outputs":1,"noerr":0,"x":220,"y":620,"wires":[["78dbf6ce.83aa68"]]},{"id":"500eeb00.cd6a84","type":"moduleclient","z":""}]