noderedmodule/examples/method-example.json
[{"id":"8451388e.6e5368","type":"function","z":"3b552568.2b72fa","name":"response msg","func":"var response = { payload:\n\"{\\\"methodpayload\\\": \\\"\" + msg.payload + \"\\\"}\" }\nresponse.status = 100\nreturn response;","outputs":1,"noerr":0,"x":220,"y":620,"wires":[["78dbf6ce.83aa68"]]},{"id":"78dbf6ce.83aa68","type":"modulemethod","z":"3b552568.2b72fa","client":"500eeb00.cd6a84","method":"setValue","response":"{}","x":230,"y":500,"wires":[["ae3d076c.4d6f58","8451388e.6e5368"]]},{"id":"ae3d076c.4d6f58","type":"debug","z":"3b552568.2b72fa","name":"method msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":480,"wires":[]},{"id":"500eeb00.cd6a84","type":"moduleclient","z":""}]