noderedmodule/examples/output-example.json
[{"id":"73ea7748.a7a108","type":"function","z":"3b552568.2b72fa","name":"output msg","func":"var newMsg = { payload:\n    \"{ \\\"random\\\":\" + Math.random() + \",\" +\n    \"\\\"timestamp\\\":\" + msg.payload + \"}\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["211f3eb6.521002"]]},{"id":"211f3eb6.521002","type":"moduleoutput","z":"3b552568.2b72fa","client":"500eeb00.cd6a84","output":"output1","x":550,"y":260,"wires":[]},{"id":"f8bf78ca.927318","type":"inject","z":"3b552568.2b72fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":340,"wires":[["73ea7748.a7a108"]]},{"id":"500eeb00.cd6a84","type":"moduleclient","z":""}]