noderedmodule/examples/twin-example.json
[{"id":"a1e33e94.716f6","type":"moduletwin","z":"3b552568.2b72fa","client":"500eeb00.cd6a84","x":450,"y":100,"wires":[["90ea4bca.476e18"]]},{"id":"90ea4bca.476e18","type":"debug","z":"3b552568.2b72fa","name":"twin msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":140,"wires":[]},{"id":"6f44aaee.8da474","type":"function","z":"3b552568.2b72fa","name":"reported msg","func":"var reported = { payload:\n\"{\\\"moduleStatus\\\": \\\"\" + msg.payload + \"\\\"}\" }\nreturn reported;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["a1e33e94.716f6"]]},{"id":"21abd27d.96853e","type":"inject","z":"3b552568.2b72fa","name":"running","topic":"","payload":"running","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":110,"y":60,"wires":[["6f44aaee.8da474"]]},{"id":"18fa0b91.face04","type":"inject","z":"3b552568.2b72fa","name":"stopped","topic":"","payload":"stopped","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":110,"y":200,"wires":[["6f44aaee.8da474"]]},{"id":"500eeb00.cd6a84","type":"moduleclient","z":""}]